.header_1{
    background-color: rgb(30, 30, 134);
    height: 75px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;  
    z-index: 4;
}
.first_about{
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
.education{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.Skills{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.personal_projects{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.contact_me{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.the_end{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.education_milestone{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between
}
#last_name{
    /* transition: all .3s; */
    color: darkblue;
}
#last_name:hover{
    color: rgb(100, 100, 141);
    border-bottom: rgb(30, 30, 134);
}
.menu_list{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    width: 100%;
}
.menu_list a{
    color: white;
    transition: all .3s;
}
.menu_list a:hover{
    border-bottom: 3px solid white;
}
.menu_item{
    margin-left: 20px;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    display: inline-block;
    text-decoration: none;
    text-emphasis: none;
}

.menu{
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    column-gap: 2rem;
    display: flex;
    flex-flow: row;
    align-items: center;
}
.main_menu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    transition: all .3s;
}
.main_menu:hover{
    border-bottom: 3px solid white;
}

ul, ol{
    list-style: none;
}
h1,h2,h3{
    line-height: 0.5;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    /* z-index: 99; */
    font-size: 18px;    
    outline: none;
    background-color: rgb(30, 30, 134);
    color: white;
    /* cursor: pointer; */
    padding: 15px;
    border-radius: 40%;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
